@import "./utils/variables";
@import "utils/radius";

* {
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: #342e49;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-width: 7rem;
}

@each $name,
$color in $colors {
  .btn-contain-#{"" + $name} {
    background-color: $color;
    border-color: $color;
    color: #FFF;

    &:active:enabled {
      transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95)
    }

    &:disabled {
      background-color: lighten($color, $amount: 5);
    }

  }

  .btn-outline-#{"" + $name} {
    color: $color;
    border-color: $color;
    font-weight: bold;


    &:hover:enabled {
      background-color: lighten($color, $amount: 10);
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
      border-color: lighten($color, $amount: 10);
      color: #FFF;
    }

    &:disabled {
      border-color: lighten($color, $amount: 10);
      color: lighten($color, $amount: 10);
    }

    &:active:enabled {
      transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95)
    }

  }

  .btn-text-#{"" + $name} {
    color: $color;
    font-weight: bold;

    &:hover:enabled {
      background-color: lighten($color, $amount: 25);
    }

    &:disabled {
      color: lighten($color, $amount: 10);
    }

    &:active:enabled {
      transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95)
    }



  }

}