$colors: (
  primary: #FE6B68,
  secondary: #EAAD57,
  success: #4C7A5A,
  dark: #153850,
);

$transition: 100ms;

$radius: (
  sm:0.25rem,
  md:0.35rem,
  lg:0.6rem,
  circle:50%,
  pill:50rem,
  0:0)